@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  position: relative;
}

.title {
  font-size: 1.3rem;
  margin: 100px 0;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
  overflow-x: hidden;
}

.logo {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

nav {
  border-bottom: 1px solid gray;
  transition: all 0.5s ease-in;
}

.content-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copy-right {
  margin-top: 300px;
}

.list-item-container {
  display: none;
}

.list-item {
  text-decoration: none;
  color: gray;
  cursor: pointer;
  transition: all 0.5s ease-in;
}

.hamburger-menu {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */

  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.846); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  /* right: 300px; */
  transition: all 0.5s ease-in-out;
}

.hamburger-menu div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 50px 20px;
  border-radius: 20px;
  background-color: black;
  color: white;
  transition: all 0.5s ease-in-out;
}

@media screen and (min-width: 1300px) {
  .title {
    font-size: 3rem;
    margin: 100px 0;
  }

  .list-item-container {
    display: flex;

    width: 50%;
    justify-content: space-between;
  }

  .list-item:hover {
    color: black;
  }

  svg {
    display: none;
  }
}
