@import url("https://fonts.googleapis.com/css2?family=Rethink+Sans:wght@400;500&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Rethink Sans", sans-serif;
}

.container {
  width: 70%;
  margin: 0 auto;
  padding: 20px 0;
  overflow-x: hidden;
}

/*  */
nav {
  margin-bottom: 30px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: black;
  color: #ede9e9;
}
header {
  margin: 80px 0;
  height: 100vh;
}

.section-title {
  text-align: center;
  font-size: 3rem;
  padding: 30px 0;
}
/*  ////////////////*/

/* NAV */

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.list-container {
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 50px;
}

.list-items {
  cursor: pointer;
  transition: all 0.5s ease-in;
  /* padding: 2px; */
}

.list-items:hover {
  color: #4b56ad;
}

/*  */

.intro-title {
  font-size: 1.5rem;
  margin-top: 60px;
  text-align: center;
}

.header-img {
  padding: 20px 0;
}

.header-btn-section {
  margin: 100px 10px;
}

.header-btn-section-text {
  margin-bottom: 10px;
}

.btn {
  background-color: rgb(117 41 165);
  color: white;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  border: 4px solid white;
  transition: all 0.5s ease-in;
  /* margin-top: 40px; */
}

.btn:hover {
  transform: scale(1.1);
  border: 4px solid bisque;
}

.header-section {
  /* margin: 100px 0; */
}

.section-two-content {
  display: flex;
  gap: 20px;
  align-items: center;
}

.section-two-text {
  line-height: 1.5;
  font-size: 1.1rem;
}

.bgc {
  background-color: bisque;
  padding: 40px;
}

.bgc-one {
  background: linear-gradient(
    131deg,
    #104992 -59.42%,
    #969b54 -33.84%,
    #4b56ad 103.55%
  );

  padding: 100px 0;
  color: white;
  line-height: 1.5;
  font-size: 1.1rem;
}

.bgc-two {
  /* background-color: #444; */
  padding: 100px 0;
}

.bgc-three {
  padding: 100px 0;
}

.section-three-content {
  width: 70%;
  margin: 0 auto;
  padding: 20px 0;
  line-height: 1.7;
}

/* card */
.card-img {
  width: 100px;
  height: 100px;
}

.card-content {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.card {
  border: 2px solid rgb(38, 37, 37);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

/* ECOSYSTEM */

.img-ecosystem {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.section-three-img {
  width: 100px;
  height: 100px;
}

.img-ecosystem p {
  /* text-align: center; */
}

@media screen and (max-width: 500px) {
  .list {
    display: none;
  }

  .section-two-content {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
  }

  .card-content {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    flex-direction: column;
  }

  .header-img {
    width: 100%;
  }

  .header-btn-section {
    margin: 100px 0;
  }

  .container {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
    overflow-x: hidden;
  }

  .section-three-img {
    width: 50px;
    height: 50px;
  }
}
